.list-container li {
    columns: "col-md-3 col-lg-3";
    padding: 5px;
    list-style: none;
    border: grey 1px solid; 
}

.side-column{
    columns:"col-md-3 col-lg-3";
    border: 3px;
    border-color: black;
    float: left;
    
}
.header { 
    
    background-color: rgb(49, 150, 209);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
.main-column {
    columns:"col-md-9 col-lg-9 col-sm-9";
    border: black 3px;
    float: right;
}

#currentSearch {
    border: grey 1px solid;
    padding: 5px;

}
.fiveDayForecast {
background-color: rgb(49, 150, 209);
color:#eee;
margin: 10px;
}

.badUV {
    color: red;
}

.medUV {
    color:orange;
}

.goodUV {
    color: green;
}

.container {
    padding: 0 !important;

}

